/*buid let day night*/
:root{
    --ecriture: #333;
    --fond:#f1f1f1;
}

*{
    margin: 0;
    padding: 0;
}

html{ /*malgrer le lien dans tous les html, le lato ne veux pas ce mettre en place???*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
/*day night color construction*/
.body{
    background-color: var(--ecriture #f1f1f1);
    color: var(--fond #333);
}
.lorem{
    padding: 10px;
    margin: 10px;
    text-align: justify;
}
.h2{
    text-align: center;
}

/* container size construction*/
.contenaire{
    width: 100%;
    height: 500px;
    margin: 10px;
    padding: 10px;
    
}
/* game buid*/
.sourie{
    height: 500px;
    max-height: 100%;
    width: 100%;
    border: 1px solid #333;
    background: #fcf8f8;
}
.lieu{
    border: 6px solid rgb(175, 29, 163);
    border-radius: 30px;
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

/**********/
/*buidl of the game ccs*/
.contenaire{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    vertical-align: center;
    height: 90%;
    width: 100%;
    background-image: linear-gradient(to right, #37cf3e, #4e4ee7);
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.title{
    height: 30px;
    width: 100%;
    color: black;
    align-items: center;
    vertical-align: center;
}
.bodyJeux{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 500px;
}
.player1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 550px;
    padding: 50px;
    font-size: 2rem;
}

.player2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 550px;
    padding: 50px;
    font-size: 2rem;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 230px;
    
}
.btn-group-vertical{
    align-items: center;
    padding: 10px 0 10px 0;
}
.de{
    justify-content:top;
    flex-direction: top;
    margin: 10px;
    height: 50px;
    width: 50px;
    border: 1px solid #0f0c1100;
    border-radius: 3px;
    cursor: pointer;
    font-size: 2rem;
}
.roll{
    align-items: center;
    flex-direction: bottom;
    margin: 10px;
}
.score{
    height: 100px;
}

.result{
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    border-radius: 3px;
}
.primary{
    background: #0d6efd;
}
.success{
    background: #198754;
}
.ct{
    color: #ffffff;
}